{% trans_default_domain 'menu' %}
{% macro flash_message(type, class) %}
    {% for flashMessage in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ class }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'hint.close'|trans }}"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro navbar_menu(menu) %}
    {% for item in menu %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-{{ item.icon }}"></i> {{ item.caption|trans }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for child in item.children %}
                        <li><a href="{{ path(child.routeName, child.routeParams) }}"><i class="fa fa-fw fa-{{ child.icon }}"></i> {{ child.caption|trans }}{% if child.routeName == app.request.get('_route') %} <i class="fa fa-fw fa-check"></i>{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endmacro %}
