{% trans_default_domain 'menu' %}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ 'navbar.logged.as'|trans({'{{ user }}': app.user.person }) }}<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('personal_form') }}"><i class="fa fa-cog"></i> {{ 'menu.personal'|trans }}</a></li>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li class="divider"></li>
                <li><a href="{{ path('frontpage', {'_switch_to': '_exit'}) }}"><i class="fa fa-user-secret"></i> {{ 'menu.impersonate.exit'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="divider"></li>
                <li><a href="{{ path('admin_menu') }}"><i class="fa fa-wrench"></i> {{ 'menu.admin'|trans }}</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> {{ 'menu.logout'|trans }}</a></li>
        </ul>
    </li>
</ul>
