{% trans_default_domain 'calendar' %}
{% extends 'calendar/agreement_calendar_graphic_partial.html.twig' %}

{% block detail %}
    {% if buttons %}<input type="checkbox" class="check" name="ids[]" value="{{ day.data.id }}" title="{{ 'form.select'|trans }}" /> {% endif %}<a href="{{ path(route_name, {'id': day.data.id}) }}">
    {% if day.data.trackedHours > 0 and day.data.trackedHours != day.data.hours %}{{ day.data.trackedHours }}/{% endif %}{{ day.data.hours }} {{ 'caption.hours'|trans }}
    </a>
    {% if day.data.locked %}&nbsp;<i class="fa fa-lock"></i>{% endif %}
{% endblock %}

{% block actions %}
    {% if week.count %}
        {% if buttons %}
            {% if week.count != week.locked %}
                <button type="submit" name="week_lock" value="{{ n + year * 100 }}" class="btn btn-xs btn-default col-xs-12 col-sm-12"><i class="fa fa-lock"></i> {{ 'form.week_lock_action'|trans }}</button>
            {% else %}
                <button type="submit" name="week_unlock" value="{{ n + year * 100 }}" class="btn btn-xs btn-default col-xs-12 col-sm-12"><i class="fa fa-unlock"></i> {{ 'form.week_unlock_action'|trans }}</button>
            {% endif %}
        {% endif %}
        {% if is_granted('AGREEMENT_LOCK', agreement) or week.count == week.locked %}
            <a href="{{ path('my_student_weekly_report_download', {'id': agreement.id, 'week': n, 'year': year}) }}" class="btn btn-xs btn-warning col-xs-12 col-sm-12"><i class="fa fa-print"></i> {{ 'form.print' | trans }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
