{% trans_default_domain 'student' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    {% if activities_stats %}
        <h2>{{ 'form.agreement_stats'|trans }}</h2>
        <dl class="dl">
            {% set agreement_hours = agreement.totalHours %}
            {% for activity in activities_stats %}
                <dt>{{ activity[0] }}</dt>
                <dd>{{ activity[1] | number_format(2, ',', '.') | default('0,00') }}/{{ agreement_hours | number_format(2, ',', '.') | default('0,00') }} ({{ (100 * activity[1]/agreement_hours) | number_format(2, ',', '.') }}%)</dd>
            {% endfor %}
        </dl>
    {% endif %}

    <h2>{{ 'calendar.title'|trans }}</h2>
    {% include 'student/calendar_agreement_partial.html.twig' %}

    {{ m.link_button(path(back_route_name, back_route_params), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {% if is_granted('AGREEMENT_REPORT', agreement) %}
        {{ m.link_button(path('my_student_agreement_report_form', {'id': agreement.id}), 'file-o', 'btn-success', 'form.report'|trans) }}
    {% endif %}
{% endblock %}
