{% trans_default_domain 'student' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'calendar.title'|trans }}</h2>
    {% set buttons = is_granted('AGREEMENT_LOCK', agreement) or is_granted('AGREEMENT_UNLOCK', agreement) %}

    <form method="post" action="{{ path('my_student_agreement_calendar_operation', {'id': agreement.id}) }}">
        {% include 'student/calendar_agreement_partial.html.twig' %}

        {% if agreement.student.studentAgreements.count() == 1 %}
            {{ m.link_button(path(menu_item.parent.routeName, menu_item.parent.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% else %}
            {{ m.link_button(path(menu_item.routeName, menu_item.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% endif %}
        {% if is_granted('AGREEMENT_REPORT', agreement) %}
            {{ m.link_button(path('my_student_agreement_report_form', {'id': agreement.id}), 'file-o', 'btn-success', 'form.report'|trans) }}
        {% endif %}
        {% if buttons %}
            {% if is_granted('AGREEMENT_LOCK', agreement) %}
                {{ m.submit_button('lock', 'lock', 'btn-default', 'form.workday_lock'|trans) }}
            {% endif %}
            {% if is_granted('AGREEMENT_UNLOCK', agreement) %}
                {{ m.submit_button('unlock', 'unlock', 'btn-default', 'form.workday_unlock'|trans) }}
            {% endif %}
        {% endif %}
    </form>
{% endblock %}
