{% trans_default_domain 'user' %}
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            {{ m.paginator_th(elements, 'col-md-3', 'u.lastName', 'form.last_name'|trans) }}
            {{ m.paginator_th(elements, 'col-md-2', 'u.firstName', 'form.first_name'|trans) }}
            {{ m.paginator_th(elements, 'col-md-2', 'u.loginUsername', 'form.login_username'|trans) }}
            {{ m.paginator_th(elements, 'col-md-2', 'u.email', 'form.email'|trans) }}
            <th class="col-md-3"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in elements %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.loginUsername }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs btn-block" role="group">
                    {% block buttons %}
                        <a href="{{ path('admin_user_form', {'user': user.id}) }}" class="btn btn-default col-xs-12 col-sm-6"><i class="fa fa-user"></i> {{ 'form.view' | trans }}</a>
                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger col-xs-12 col-sm-6" ><i class="fa fa-trash"></i> {{ 'form.delete' | trans }}</a>
                    {% endblock %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="6">{{ m.paginator_stats(elements) }}</th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="navigation">
    {{ knp_pagination_render(elements) }}
</div>
