{% trans_default_domain 'group' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'calendar.title'|trans }}</h2>

    <form method="post" action="{{ path('admin_group_student_workday_operation', {'id': agreement.id}) }}">
        {% include 'group/calendar_agreement_graphic_partial.html.twig' %}

        {{ m.link_button(path('admin_group_student_agreements', {'id': agreement.student.id}), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% if is_granted('AGREEMENT_MANAGE', agreement) %}
            {{ m.link_button(path('admin_group_student_workday_add', {'id': agreement.id}), 'calendar-plus-o', 'btn-info', 'form.workday_add'|trans) }}
        {% endif %}
        {% if calendar is not empty %}
            {% if is_granted('AGREEMENT_MANAGE', agreement) %}
                {{ m.submit_button('delete', 'trash', 'btn-danger', 'form.delete'|trans) }}
            {% endif %}
            {% if is_granted('AGREEMENT_LOCK', agreement) %}
                {{ m.submit_button('lock', 'lock', 'btn-primary', 'form.workday_lock'|trans) }}
            {% endif %}
            {% if is_granted('AGREEMENT_UNLOCK', agreement) %}
                {{ m.submit_button('unlock', 'unlock', 'btn-primary', 'form.workday_unlock'|trans) }}
            {% endif %}
            {% if is_granted('AGREEMENT_MANAGE', agreement) or is_granted('AGREEMENT_LOCK', agreement) or is_granted('AGREEMENT_UNLOCK', agreement) %}
                {{ m.link_button('', 'check-square', 'btn-default', 'form.select_deselect'|trans, 'toggle') }}
            {% endif %}
            {% if is_granted('AGREEMENT_MANAGE', agreement) %}
                <p></p>
                <div class="alert alert-warning">{{ 'prompt.session_deletion_warning'|trans|nl2br }}</div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $('a#toggle').click(function() {
            $("input.check").each( function() {
                this.checked = !(this.checked);
            });
            return false;
        });
    </script>
{% endblock %}
