{% trans_default_domain 'calendar' %}

{% for num, month in calendar %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th colspan="8" class="calendar-month">{{ ('month'~(num % 12))|trans }} {{ num//12 }}</th>
        </tr>
        <tr>
            <th class="col-md-1">{{ 'dow0'|trans }}</th>
            <th class="col-md-1">{{ 'dow1'|trans }}</th>
            <th class="col-md-1">{{ 'dow2'|trans }}</th>
            <th class="col-md-1">{{ 'dow3'|trans }}</th>
            <th class="col-md-1">{{ 'dow4'|trans }}</th>
            <th class="col-md-1">{{ 'dow5'|trans }}</th>
            <th class="col-md-1">{{ 'dow6'|trans }}</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        {% for week in month %}
        <tr>
            {% for day in week %}
                <td {% if day.data is defined %}class="{{ day.data.trackedHours == 0 ? 'info' : (day.data.trackedHours == day.data.hours ? 'success' : 'danger') }}"{% endif %}>
                    {% if is_granted('AGREEMENT_MANAGE', agreement) and day.data is defined %}<a href="{{ path('admin_group_student_workday_form', {'id': day.data.id}) }}" title="{{ 'form.edit'|trans }}">{% endif %}
                        <strong>{{ day.day }}</strong><br/>
                    {% if is_granted('AGREEMENT_MANAGE', agreement) %}</a>{% endif %}
                    {% if day.data is defined %}
                        {% block detail %}
                            {% if is_granted('AGREEMENT_MANAGE', agreement) or is_granted('AGREEMENT_LOCK', agreement) or is_granted('AGREEMENT_UNLOCK', agreement) %}
                            <input type="checkbox" class="remove" name="ids[]" value="{{ day.data.id }}" title="{{ 'form.select'|trans }}"> {% endif %}
                            <a href="{{ path(route_name is defined ? route_name : 'agreement_calendar_form', {'id': day.data.id}) }}" title="{{ 'form.tracking'|trans }}">
                            {% if day.data.trackedHours > 0 and day.data.trackedHours != day.data.hours %}{{ day.data.trackedHours }}/{% endif %}{{ day.data.hours }} {{ 'caption.hours'|trans }}
                            </a>
                            {% if day.data.locked %}&nbsp;<i class="fa fa-lock"></i>{% endif %}
                        {% endblock %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            {% endfor %}
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning">{{ 'prompt.empty'|trans|nl2br }}</div>
{% endfor %}
