{% trans_default_domain 'calendar' %}
{% extends 'calendar/agreement_calendar_graphic_partial_base.html.twig' %}

{% block day %}
    {% if is_granted('AGREEMENT_MANAGE', agreement) and day.data is defined %}<a href="{{ path('admin_group_student_workday_form', {'id': day.data.id}) }}" title="{{ 'form.edit'|trans }}">{% endif %}
        <strong>{{ day.day }}</strong><br/>
        {% if is_granted('AGREEMENT_MANAGE', agreement) %}</a>{% endif %}
    {% if day.data is defined %}
        {% block detail %}
            {% if is_granted('AGREEMENT_MANAGE', agreement) or is_granted('AGREEMENT_LOCK', agreement) or is_granted('AGREEMENT_UNLOCK', agreement) %}
                <input type="checkbox" class="check" name="ids[]" value="{{ day.data.id }}" title="{{ 'form.select'|trans }}"> {% endif %}
            <a href="{{ path(route_name is defined ? route_name : 'agreement_calendar_form', {'id': day.data.id}) }}" title="{{ 'form.tracking'|trans }}">
                {% if day.data.trackedHours > 0 and day.data.trackedHours != day.data.hours %}{{ day.data.trackedHours }}/{% endif %}{{ day.data.hours }} {{ 'caption.hours'|trans }}
            </a>
            {% if day.data.locked %}&nbsp;<i class="fa fa-lock"></i>{% endif %}
        {% endblock %}
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block actions %}
    {% if week.count %}
            {% if week.count != week.locked %}
                <button type="submit" name="week_lock" value="{{ n + year * 100 }}" class="btn btn-xs btn-default col-xs-12 col-sm-12"><i class="fa fa-lock"></i> {{ 'form.week_lock_action'|trans }}</button>
            {% else %}
                <button type="submit" name="week_unlock" value="{{ n + year * 100 }}" class="btn btn-xs btn-default col-xs-12 col-sm-12"><i class="fa fa-unlock"></i> {{ 'form.week_unlock_action'|trans }}</button>
            {% endif %}
            <a href="" class="btn btn-xs btn-warning col-xs-12 col-sm-12"><i class="fa fa-print"></i> {{ 'form.print' | trans }}</a>
    {% endif %}
{% endblock %}
