{% trans_default_domain 'group' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}

    {% set agreement_lock = is_granted('AGREEMENT_LOCK', agreement) %}
    {% set agreement_unlock = is_granted('AGREEMENT_UNLOCK', agreement) %}
    {% set agreement_manage = is_granted('AGREEMENT_MANAGE', agreement) %}
    {% set agreement_report = is_granted('AGREEMENT_REPORT', agreement) %}

    {% if activities_stats %}
        {% include 'calendar/agreement_activities_stats_partial.html.twig' with {'student_detail': 'admin_group_student_agreement_student_info', 'workcenter_detail': 'admin_group_student_agreement_workcenter_info'} %}
    {% endif %}

    <h2>{{ 'calendar.title'|trans }}</h2>

    <form method="post" action="{{ path('admin_group_student_workday_operation', {'id': agreement.id}) }}">
        {% include 'group/calendar_agreement_graphic_partial.html.twig' %}

        {% if calendar is not empty %}
            <div class="well well-sm">
            {% if agreement_manage %}
                {% if agreement_manage %}
                    <div class="alert alert-warning">{{ 'prompt.session_deletion_warning'|trans|nl2br }}</div>
                {% endif %}
                {{ m.submit_button('delete', 'trash', 'btn-danger', 'form.workday_delete'|trans) }}
            {% endif %}
            {% if agreement_lock %}
                {{ m.submit_button('lock', 'lock', 'btn-primary', 'form.workday_lock'|trans) }}
            {% endif %}
            {% if agreement_unlock %}
                {{ m.submit_button('unlock', 'unlock', 'btn-primary', 'form.workday_unlock'|trans) }}
            {% endif %}
            {% if agreement_manage or agreement_lock or agreement_unlock %}
                {{ m.link_button('', 'check-square', 'btn-default', 'form.select_deselect'|trans, 'toggle') }}
            {% endif %}
            </div>
        {% endif %}
        {{ m.link_button(path('admin_group_student_agreements', {'id': agreement.student.id}), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% if agreement_report %}
            {{ m.link_button(path('admin_group_agreement_report_form', {'id': agreement.id}), 'file-o', 'btn-success', 'form.report'|trans) }}
            {% if calendar is not empty %}
                {{ m.link_button(path('admin_group_activity_report_download', {'id': agreement.id}), 'print', 'btn-success', 'form.activity_report'|trans) }}
                {{ m.link_button(path('admin_group_attendance_report', {'id': agreement.id}), 'car', 'btn-success', 'form.attendance_report'|trans) }}
            {% endif %}
        {% endif %}
        {% if agreement_manage %}
            {{ m.link_button(path('admin_group_student_workday_add', {'id': agreement.id}), 'calendar-plus-o', 'btn-info', 'form.workday_add'|trans) }}
        {% endif %}

    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $('a#toggle').click(function() {
            $("input.check").each( function() {
                this.checked = !(this.checked);
            });
            return false;
        });
    </script>
{% endblock %}
