{% trans_default_domain 'group' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'calendar.title'|trans }}</h2>

    <form method="post" action="{{ path('admin_group_student_calendar_operation', {'id': agreement.id}) }}">
        {% include 'group/calendar_agreement_graphic_partial.html.twig' %}

        {% if user.studentAgreements.count() == 1 %}
            {{ m.link_button(path(menu_item.parent.routeName, menu_item.parent.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% else %}
            {{ m.link_button(path(menu_item.routeName, menu_item.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
        {% endif %}
        {% if calendar is not empty %}
            {{ m.submit_button('lock', 'lock', 'btn-warning', 'form.lock_action'|trans) }}
            {{ m.submit_button('unlock', 'unlock', 'btn-warning', 'form.unlock_action'|trans) }}
            {{ m.link_button('', 'check-square', 'btn-default', 'form.select_deselect'|trans, 'toggle') }}
        {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $('a#toggle').click(function() {
            $("input.remove").each( function() {
                this.checked = !(this.checked);
            });
            return false;
        });
    </script>
{% endblock %}
