{% trans_default_domain 'group' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.submit'|trans) }}
        {{ m.end_button }}
    {{ form_end(form) }}
    {{ m.link_button(path('admin_group_student_agreements', {'id': agreement.student.id}), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {% if agreement.id != 0 %}
        <p></p>
        <div class="alert alert-warning">{{ 'prompt.activity_deletion_warning'|trans|nl2br }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    var student = $("#agreement_student");
    var company = $("#agreement_company");

    student.change(function() {
        var form = $(this).closest('form');
        var data = {};
        data[student.attr('name')] = student.val();
        data[company.attr('name')] = company.val();
        $('#agreement_activities').replaceWith('<div id="agreement_activities"><span class="text-info"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span></div>');
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: data,
            success: function(html) {
                $('#agreement_activities').replaceWith(
                        $(html).find('#agreement_activities')
                )
            },
            error: function() {
                $('#agreement_activities').replaceWith('<div id="agreement_activities"><span class="text-danger"><i class="fa fa-times-circle fa-3x"></i></span></div>')
            }
        });
    });

    company.change(function() {
        var form = $(this).closest('form');
        var data = {};
        data[student.attr('name')] = student.val();
        data[company.attr('name')] = company.val();
        var workcenter = $('#agreement_workcenter');
        var next = workcenter.next();
        workcenter.replaceWith('<div id="agreement_workcenter"><span class="text-info"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span></div>');
        next.remove();
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: data,
            success: function(html) {
                $('#agreement_workcenter').replaceWith(
                        $(html).find('#agreement_workcenter')
                );
                $('select#agreement_workcenter').select2({
                    theme: "bootstrap"
                });
            },
            error: function() {
                $('#agreement_workcenter').replaceWith('<div id="agreement_workcenter"><span class="text-danger"><i class="fa fa-times-circle fa-3x"></i></span></div>')
            }
        });
    });
</script>
{% endblock %}
