{% trans_default_domain 'student' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    <div class="well well-sm">
        {{ m.link_button('', 'eye', 'btn-info', 'form.tracking'|trans) }}
        {{ m.link_button('', 'link', 'btn-info', 'form.agreements'|trans) }}
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.submit'|trans) }}
        {{ m.end_button }}
    {{ form_end(form) }}
    {{ m.link_button(path('admin_group_students', {'id': user.studentGroup.id}), 'arrow-left', 'btn-default', 'form.back'|trans) }}
{% endblock %}
