{% trans_default_domain 'group' %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
    <tr>
        <th class="col-md-2">{{ 'form.name'|trans }}</th>
        <th class="col-md-5">{{ 'form.training'|trans }}</th>
        <th class="col-md-3">{{ 'form.department'|trans }}</th>
        <th class="col-md-2"></th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
        <tr>
            <td>{{ element.name }}</td>
            <td>{{ element.training }}</td>
            <td>{{ element.training.department }}</td>
            <td class="text-center">
                <div class="btn-group btn-group-xs btn-block" role="group">
                {% block buttons %}
                    <a href="{{ path('admin_group_students', {'id': element.id}) }}" class="btn btn-default col-xs-12 col-sm-12"><i class="fa fa-check-square-o"></i> {{ 'form.group_select' | trans }}</a>
                {% endblock %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'form.no_groups'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
