{% trans_default_domain 'agreement' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.submit'|trans) }}
        {% if not new %}
            {{ m.link_button(path('admin_agreement_delete', {'id': element.id}), 'trash', 'btn-danger', 'form.delete'|trans) }}
        {% endif %}
        {{ m.end_button }}
    {{ form_end(form) }}
    {{ m.link_button(path(menu_item.routeName, menu_item.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {% if not new %}
        <p></p>
        <div class="alert alert-warning">{{ 'prompt.activity_deletion_warning'|trans|nl2br }}</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    var student = $("#agreement_student");
    student.change(function() {
        var form = $(this).closest('form');
        var data = {};
        data[student.attr('name')] = student.val();
        $('#agreement_activities').replaceWith('<div id="agreement_activities"><span class="text-info"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span></div>');
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: data,
            success: function(html) {
                $('#agreement_activities').replaceWith(
                        $(html).find('#agreement_activities')
                )
            },
            error: function() {
                $('#agreement_activities').replaceWith('<div id="agreement_activities"><span class="text-danger"><i class="fa fa-times-circle fa-3x"></i></span></div>')
            }
        });
    });
</script>
{% endblock %}
