{% trans_default_domain 'calendar' %}

{% for num, month in calendar %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th colspan="8" class="calendar-month">{{ ('month'~(num % 12))|trans }} {{ num//12 }}</th>
        </tr>
        <tr>
            <th class="col-md-1">{{ 'dow0'|trans }}</th>
            <th class="col-md-1">{{ 'dow1'|trans }}</th>
            <th class="col-md-1">{{ 'dow2'|trans }}</th>
            <th class="col-md-1">{{ 'dow3'|trans }}</th>
            <th class="col-md-1">{{ 'dow4'|trans }}</th>
            <th class="col-md-1">{{ 'dow5'|trans }}</th>
            <th class="col-md-1">{{ 'dow6'|trans }}</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        {% for n, week in month %}
        <tr>
            {% for day in week %}
                <td {% if day.data is defined %}class="{{ day.data.trackedHours == 0 ? 'info' : (day.data.trackedHours == day.data.hours ? 'success' : 'danger') }}"{% endif %}>
                {% block day %}
                {% endblock %}
                </td>
            {% endfor %}
            {% set fill = 7 - (week|length) %}
            {% if fill %}
                {% for i in 1..fill %}
                    <td></td>
                {% endfor %}
            {% endif %}
            <td>
                {% block actions %}
                {% endblock %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning">{{ 'prompt.empty'|trans|nl2br }}</div>
{% endfor %}
