{% trans_default_domain 'visit' %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
    <tr>
        <th class="col-md-2">{{ 'form.date'|trans }}</th>
        <th class="col-md-3">{{ 'form.workcenter'|trans }}</th>
        <th class="col-md-4">{{ 'form.students'|trans }}</th>
        <th class="col-md-3"></th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
        <tr>
            <td>{{ element.when|date('d/m/Y') }}</td>
            <td>{{ element.workcenter }}</td>
            <td>{% for student in element.students %}{% if not loop.first %}, {% endif %}student.fullDisplayName{% endfor %}</td>
            <td class="text-center">
                <div class="btn-group btn-group-xs btn-block" role="group">
                {% block buttons %}
                    <a href="" class="btn btn-default col-xs-12 col-sm-12"><i class="fa fa-check-square-o"></i> {{ 'form.select' | trans }}</a>
                {% endblock %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'form.no_visits'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
