{% trans_default_domain 'visit' %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
    <tr>
        <th class="col-md-4">{{ 'form.workcenter'|trans }}</th>
        <th class="col-md-1">{{ 'form.agreements'|trans }}</th>
        <th class="col-md-1">{{ 'form.students'|trans }}</th>
        <th class="col-md-1">{{ 'form.visits'|trans }}</th>
        <th class="col-md-1">{{ 'form.first_date'|trans }}</th>
        <th class="col-md-1">{{ 'form.last_date'|trans }}</th>
        <th class="col-md-3"></th>
    </tr>
    </thead>
    <tbody>
    {% for element in elements %}
        <tr>
            <td>{{ element[0] }}</td>
            <td>{{ element[1] }}</td>
            <td>{{ element[3] }}</td>
            <td>{{ element[5] }}</td>
            <td>{{ element[7] ? element[7]|date('d/m/y') }}</td>
            <td>{{ element[9] ? element[9]|date('d/m/y') }}</td>
            <td class="text-center">
                <div class="btn-group btn-group-xs btn-block" role="group">
                {% block buttons %}
                    <a href="" class="btn btn-default col-xs-12 col-sm-12"><i class="fa fa-check-square-o"></i> {{ 'form.select' | trans }}</a>
                {% endblock %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
